<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form method="POST" action="">
        {% csrf_token %}
        <p>
        {{form.username.label}}
        {{form.username}}
        </p>

        <p>
        {{form.email.label}}
        {{form.email}}
        </p>

        <p>
        {{form.password1.label}}
        {{form.password1}}
        </p>
        <p>
        {{form.password2.label}}
        {{form.password2}}
        </p>
        {{form.errors}}
        <p>
        <select name="roles" id="roles">
            <option value="user">User</option>
            <option value="eventorganizer">Event Organizer</option>
            
        </select>
        </p>
        <input type="submit" name="Create User" value="Submit">
    </form>
</body>
</html>